LANG=ja_JP.UTF-8
4,9,14,19,24,29,34,39,44,49,54,59 * * * * INSTALL_USER /opt/twimg2rss.py >> /home/INSTALL_USER/.twimg2rss/log/cron.log 2>&1
0 * * * * INSTALL_USER find TIMELINE -name 'timeline_[0-9-]*.json' -mtime +7 -exec rm {} \;
